#include "resource.h"

IDB_BACKGROUND BITMAP "background.bmp" // Change this to the path of your image

IDR_MENU MENU
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "Reset", ID_RESET
        MENUITEM "Exit",  ID_EXIT
        MENUITEM "High Scores",  ID_SCORES
    END
END
